$primary: #001736; //#171d4f;
$primary-variant: #054569; //#4449a5;
$secondary: #DADDD8; //#d6d6d6;
$secondary-variant: #FAFAFF; //#e4e7ea;
$contrast: #e5035f;
@font-face {
    font-family: "JetBrainsMono";
    src: local("JetBrainsMono"), url(./fonts/JetBrainsMono/JetBrainsMono-Regular.woff2) format("woff");
}

@font-face {
    font-family: "DBHelvethaicaXBlkCond";
    src: local("DBHelvethaicaXBlkCond"), url(./fonts/DBHelvethaicaX/DBHelvethaicaXBlkCond.ttf) format("truetype");
}

@font-face {
    font-family: "DBHelvethaicaXMedCond";
    src: local("DBHelvethaicaXMedCond"), url(./fonts/DBHelvethaicaX/DBHelvethaicaXMedCond.ttf) format("truetype");
}

@font-face {
    font-family: "Impact";
    src: local("Impact"), url(./fonts/impact/impact.ttf) format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    font-weight: normal;
    src: local("THSarabunNew"), url(./fonts/THSarabunNew/THSarabunNew.ttf) format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    font-weight: bold;
    src: local("THSarabunNew Bold"), url(./fonts/THSarabunNew/THSarabunNewBold.ttf) format("truetype");
}

html,
body {
    @apply bg-custom-primary;
    @apply text-white;
    padding: 0;
    margin: 0;
}

.animation {
    transition: 2s;
}

.bg-gradient {
    background: rgb(0, 23, 54);
    //background: linear-gradient(144deg, rgba(0, 23, 54, 1) 0%, rgba(5, 69, 105, 1) 56%, rgba(60, 128, 173, 1) 100%);
    background: linear-gradient(144deg, rgba(0, 23, 54, 1) 0%, rgb(2, 40, 75) 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: "JetBrainsMono", "DBHelvethaicaXMedCond", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
}

.bg-custom-primary {
    background-color: $primary;
}

.bg-custom-primary-variant {
    --tw-bg-opacity: 1;
    background-color: rgba(68, 73, 165, var(--tw-bg-opacity));
}

.bg-custom-secondary {
    background-color: $secondary;
}

.bg-custom-secondary-variant {
    background-color: $secondary-variant;
}

.bg-custom-contrast {
    background-color: $contrast;
}

.text-custom-primary {
    color: $primary;
}

.text-custom-primary-variant {
    color: $primary-variant;
}

.text-custom-secondary {
    color: $secondary;
}

.text-custom-secondary-variant {
    color: $secondary-variant;
}

.text-custom-contrast {
    color: $contrast;
}

.font-impact {
    font-family: "Impact";
    letter-spacing: 1px;
}

.font-jetbrains {
    font-family: "JetBrainsMono";
}

.font-helvethaica-blk-cond {
    @apply text-2xl;
    font-family: "DBHelvethaicaXBlkCond";
}

.font-helvethaica-med-cond {
    @apply text-2xl;
    font-family: "DBHelvethaicaXMedCond";
}

.font-THSarabunTH {
    @apply text-2xl;
    font-family: "THSarabunNew";
}

.bg-grid {
    background-image: linear-gradient( rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em);
    background-size: 5em 5em;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-active {
    background-color: lighten($primary, 10%);
}

.main-logo {
    padding-left: 4rem;
    padding-right: 4rem;
}

.meeting-image {
    max-height: 35rem;
}

#logo {
    display: block;
    position: absolute;
    left: 48px;
    top: 100px;
    width: 480px;
    //top: 8px;
    //width: 112px;
}

@media screen and (max-width: 1024px) {
    .main-logo {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .grid-stair {
        >div {
            @apply w-full;
        }
        >div:nth-child(2n+1) {
            @apply mb-8;
        }
        >div:nth-child(2n) {
            @apply mt-12;
        }
        // >div:nth-child(n) {
        //     @apply flex;
        //     @apply flex-col;
        //     @apply justify-center;
        // }
    }
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

a.anchor {
    display: block;
    position: relative;
    top: -7rem;
    visibility: hidden;
}

article h1 {
    @apply text-4xl;
    @apply font-bold;
}

article h2 {
    @apply text-3xl;
    @apply font-bold;
}

article h3 {
    @apply text-2xl;
    @apply font-bold;
}

article h4 {
    @apply text-xl;
    @apply font-bold;
}

article h5 {
    @apply text-lg;
    @apply font-bold;
}

article * {
    @apply font-THSarabunTH;
}

article p {
    @apply my-4;
}

article ul {
    @apply list-disc;
    @apply list-inside;
}

article img {
    @apply mx-auto;
    @apply max-h-full;
}

@media (min-width: 1024px) {
    article * {
        @apply font-THSarabunTH;
        @apply text-3xl;
    }
}

.markdown {
    table {
        border-collapse: collapse;
    }
    th,
    td {
        padding: 6px 13px;
        border: 1px solid white;
    }
    p {
        line-height: 1.5;
    }
}